html {
  font-size: 20px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[id="game-input"] {
  width: 50%;
}

.is-correct,
.is-wrong {
  color: white;
}

.is-correct {
  background-color: green;
}

.is-wrong {
  background-color: red;
}
